<%- include('../partials/header') %>

<h1>Dev skills of <%= student %></h1>
<table>
    <thead>
        <th>Skill</th>
        <th>Acquired</th>
        <th>Edit</th>
    </thead>
    <tbody>
        <% studentSkills.forEach( s => { %>
        <tr>
            <td><%= s.skill %></td>
            <td><%= s.acquired %></td>
            <td><a href="#">Edit</a></td>
        </tr>
        <% }) %>
    </tbody>
</table>


<%- include('../partials/footer') %>